# Node
node_modules/

# Playwright outputs
test-results/
playwright-report/
blob-report/
playwright/.cache/
coverage/

# Ignore Playwright screenshots and outputs only (not ALL pngs)
test-results/**/*.png
playwright-report/**/*.png

# Mac system files
**/.DS_Store

# NPM cache
.npm
.npmrc

# Environment files
.env
.env.*

# Ignore editor configs
.vscode/

# Playwright result exports
playwright-results.json
playwright-results.xml
